## Question 1

When you first import the module, the variable 'a' is defined and initialized with a value of 0.

The method b() is then called three times:

A. You indicate that you want to use the global variable "a" inside the function in the first call to b(). Then you call the function c(a), which changes the value of 'a' from (0 + 2) to 2 by adding 2.

b. Since 'a' is already 2 in the second call to b(), the global variable 'a' is once again used inside the method. You type c(a), which increases the value of 'a' by 2 (2 + 2), making it 4 as a result.

c. Because 'a' is now 4 in the third call to b(), you use the global variable 'a' inside the method. You type c(a), which increases the value of 'a' by 2 to its current value (4 + 2), making 'a' 6.

So, when 'a' is evaluated, the value shown is 6.

## Question 2

In [3]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        length = len(content)
        return length
    except FileNotFoundError:
        return f"Opps!! File {filename} not found."

print(fileLength('Filelength.txt'))
print(fileLength('guljinder.py'))

123
Opps!! File guljinder.py not found.

## Question 3

In [1]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self, item):
        self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents()) 
k = Kangaroo(0, 0)
print(k) 
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents()) 
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

In [2]:
def collatz(a):
    print(a)
    if a == 1:
        return
    elif a % 2 == 0:
        collatz(a // 2)
    else:
        collatz(3 * a + 1)
collatz(2)
collatz(12)

2
1
12
6
3
10
5
16
8
4
2
1

## Question 5

In [3]:
def binary(b):
    if b == 0:
        print(0, end='')
    elif b == 1:
        print(1, end='')
    else:
        binary(b // 2)
        print(b % 2, end='')
binary(0) 
print()
binary(1)  
print()
binary(3)  
print()
binary(9)  
print()

0
1
11
1001

## Question 6

In [6]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    Hd1 = ["h1", "h2"]
    cur2 = -1
    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Hd1:         
            HeadingParser.cur2 = HeadingParser.Hd1.index(tag)
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Hd1[HeadingParser.cur2]:          
            HeadingParser.cur2 = -1            
    def handle_data(self, data):
        if HeadingParser.cur2 >= 0:
            print(" " * HeadingParser.cur2 + data)            
infile = open("w3c.html","r")
content = infile.read()
infile.close()
ans1 = HeadingParser()
ans1.feed(content)

W3C Mission
 Principles

## Question 7

In [4]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return

    try:
        response = requests.get(url)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')

        print(' ' * indent + url)

        links = soup.find_all('a', href=True)
        for link in links:
            next_url = link['href']
            if next_url.startswith('http'):
                webdir(next_url, depth - 1, indent + 2)
    except requests.exceptions.RequestException:
        # Handle request errors if any
        pass

# Test the webdir function
webdir('https://www.cbc.ca/', 2, 0)

https://www.cbc.ca/
  https://gem.cbc.ca/still-standing/s09e04?cmp=GEM_cbc.ca_homepage_shelfnew
  https://gem.cbc.ca/still-standing/s09e04?cmp=GEM_cbc.ca_homepage_shelfnew
  https://ici.radio-canada.ca/rci/en
  https://www.cbc.ca/listen/live-radio?cmp=Radio_mobileweb_unit
  https://www.cbc.ca/listen/live-radio/1-14-day-6/clip/16015757-tensions-rise-romana-didulo-sets-residence-small-town-saskatchewan
  https://gem.cbc.ca/?cmp=GEM_cbc.ca_homepage_shelfnew
  https://gem.cbc.ca/this-hour-has-22-minutes/s31e05?cmp=GEM_cbc.ca_homepage_shelfnew
  https://gem.cbc.ca/dragons-den/s18e04?cmp=GEM_cbc.ca_homepage_shelfnew
  https://gem.cbc.ca/marketplace/s51e01?cmp=GEM_cbc.ca_homepage_shelfnew
  https://gem.cbc.ca/animal-control/s01?cmp=GEM_cbc.ca_homepage_shelfnew
  https://gem.cbc.ca/join-now
  https://www.cbc.ca/radio/costofliving/skiplagging-hidden-city-fares-travel-1.6972838
  https://www.cbc.ca/radio/undertheinfluence/one-new-york-hotel-manager-discovered-a-450-pound-lion-roaming-a-suite-1.6396083
  https://www.cbc.ca/radio/whitecoat/the-dose-osteoporosis-explainer-1.6877764
  https://www.cbc.ca/life/home/how-to-keep-creatures-and-critters-out-of-your-home-as-it-gets-colder-1.4880114
  https://www.cbc.ca/radio/nowornever/afraid-to-show-it-off-here-s-how-to-love-the-skin-you-re-in-1.6871278/creating-content-on-onlyfans-helped-me-embrace-my-disability-1.6879081
  https://www.cbc.ca/documentaries/the-passionate-eye/these-two-canadian-farmers-used-roundup-on-their-crops-for-decades-then-they-were-diagnosed-with-cancer-1.6584108
  https://gem.cbc.ca/benefits/
  https://subscriptions.cbc.ca/listmanagement
  https://www.facebook.com/cbc/
  https://twitter.com/cbc/
  https://www.youtube.com/user/CBCtv
  https://www.instagram.com/cbc/?hl=en
  https://www.cbc.ca/rss/
  https://cbc.radio-canada.ca/en
  https://cbc.radio-canada.ca/en/vision/governance/terms-of-use-digital-services
  https://cbc.radio-canada.ca/en/working-with-us/jobs/
  https://cbc.radio-canada.ca/en/vision/unions-associations
  https://www.cbc.ca/independentproducers/
  https://cbc.radio-canada.ca/en/impact-and-accountability/regulatory/political-ads-registry
  https://cbc.radio-canada.ca/en/ombudsman/
  https://www.cbc.ca/news/corrections-clarifications-1.5893564
  https://www.cbc.ca/news/public-appearances-1.4969965
  https://cbc.radio-canada.ca/en/services/commercial-services/
  https://cbc.radio-canada.ca/en/working-with-us/partners-and-suppliers/
  https://www.cbc.ca/productionfacilities/
  https://ici.radio-canada.ca/rci/en
  https://www.cbc.ca/lite
  https://gem.cbc.ca/
  https://cbc.radio-canada.ca/en
  https://ici.radio-canada.ca/

## Question 8

In [7]:
import sqlite3
connect = sqlite3.connect('question_8')
c = connect.cursor()

In [8]:
c.execute('''CREATE TABLE question_8 (city TEXT NOT NULL, country TEXT NOT NULL, season TEXT NOT NULL, temperature INTEGER NOT NULL, rainfall INTEGER NOT NULL)''')

In [9]:
c.execute("INSERT INTO question_8 VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
c.execute("INSERT INTO question_8 VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
c.execute("INSERT INTO question_8 VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.2)")
c.execute("INSERT INTO question_8 VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
c.execute("INSERT INTO question_8 VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
c.execute("INSERT INTO question_8 VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
c.execute("INSERT INTO question_8 VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
c.execute("INSERT INTO question_8 VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")

c.execute("INSERT INTO question_8 VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
c.execute("INSERT INTO question_8 VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
c.execute("INSERT INTO question_8 VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
c.execute("INSERT INTO question_8 VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
connect.commit()

In [10]:
c.execute("SELECT temperature FROM question_8")
rows = c.fetchall()
for row in rows:
    print(row[0])

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [11]:
c.execute("SELECT DISTINCT city FROM question_8")
rows = c.fetchall()
for row in rows:
    print(row[0])

Mumbai
London
Cairo

In [12]:
c.execute("SELECT * FROM question_8 WHERE country='India'")
rows = c.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.2)
('Mumbai', 'India', 'Fall', 27.6, 346)

In [13]:
c.execute("SELECT * FROM question_8 WHERE season='Fall'")
rows = c.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [14]:
c.execute("SELECT city, country, season FROM question_8 GROUP BY city, country, season HAVING AVG(rainfall) BETWEEN 200 AND 400")
rows = c.fetchall()
for row in rows:
    print(row)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [15]:
c.execute("SELECT city, country FROM question_8 WHERE season='Fall' GROUP BY city, country HAVING AVG(temperature) > 20 ORDER BY AVG(temperature) ASC")
rows = c.fetchall()
for row in rows:
    print(row)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [18]:
c.execute("SELECT SUM(rainfall) FROM question_8 WHERE city='Cairo'")
totalRainfall = c.fetchone()
print("The Total Rainfall in Cairo is: ", totalRainfall[0])

The Total Rainfall in Cairo is:  27.6

In [19]:
c.execute("SELECT season, SUM(rainfall) FROM question_8 GROUP BY season")
rows = c.fetchall()
for row in rows:
    print("Total rainfall for", row[0], "season:", row[1])

Total rainfall for Fall season: 569.0
Total rainfall for Spring season: 192.29999999999998
Total rainfall for Summer season: 1706.3
Total rainfall for Winter season: 230.1

In [20]:
c.execute("SELECT * FROM question_8")
rows = c.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.2)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

## Question 9

In [11]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

In [13]:
aa = [word.upper() for word in words]
print(aa)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [19]:
bb = [word.lower() for word in words]
print(bb)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [18]:
cc = [len(word) for word in words]
print(cc)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [17]:
dd = [[word.upper(), word.lower(), len(word)] for word in words]
print(dd)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [20]:
ee = words
print(ee)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']